@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

:root {
    --color1: #0f0f0f;
    --color2: #000329;
    --color3: #161616;
    --color4: #b13243;
    --color5: #722630;
    --color6: #ffffff;
    --font1: 'Recursive';
    --font2: 'Lato';
    --font3: 'Roboto';
}
.titulo {
    font-family: var(--font1);
    color: var(--color4);
}
.card {
    margin: 10px;
    background-color: var(--color3); 
    border-radius: 5px;
}

.card-body h5, .card-body h6 {
    background-color: var(--color3);
    border-color: var(--color2);
    color: var(--color6);
    font-family: var(--font3);
}
.card-img-top {
    height: 400px;
    object-position: center;
    object-fit: cover;
    border-radius: 7px;
}
.card-img-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.card {
    background-color: var(--color2);
}

header nav, .offcanvas, footer {
    background-color: var(--color1);
    color: var(--color6);
}
footer {
    color: var(--color6);
    width: 100%;
    position: bottom;
}

body {
    background-color: var(--color3);
}

.container {
    padding-top: 30px;
}

h3 {
    color: var(--color6);
    padding-top: 20px;
    font-family: 'Lato';
}
.carousel .img-destaque {
    height: 500px;
    object-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.carousel {
  scroll-behavior: smooth;
}

.modal-img {
    width: 250px;
    object-fit: cover;
}

.btn {
    background-color: var(--color4);
    color: var(--color1)
}

.btn:hover {
    background-color: var(--color5);
}

.btn:active {
    background-color: var(--color5);
}
#carousel-destaques {
    margin-top: 50px;
}

.img-navbar {
    height: 70px;
}

label {
    color : var(--color6);
}
.sec {
    height: 450px;
}
