:root {
    --color1: #0a0040;
    --color2: #000329;
    --color3: #060018;
    --color4: #09ffff;
    --color5: #002c2c;
    --color6: #ffffff;
    --font_size1: 25px;
    --font1: 'Recursive';
    --font2: 'Lato';
    --font3: 'Roboto';
}
.card {
    margin: 10px;
    background-color: var(--color3); 
    border-radius: 5px;
}

.card-body h5, .card-body h6 {
    background-color: var(--color3);
    border-color: var(--color2);
    color: var(--color6); 
}
.card-img-top {
    height: 400px;
    object-position: center;
    object-fit: cover;
    border-radius: 7px;
}
.card-img-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.card {
    background-color: var(--color2);
}

header nav, .offcanvas {
    background-color: var(--color1);
    color: var(--color6)
}
.navbar a {
    color: white !important;
}


body {
    background-color: var(--color3);
}

h3 {
    color: var(--color6);
    padding-top: 20px;
}
.carousel img {
    height: 500px;
    object-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.carousel {
  scroll-behavior: smooth;
}

.modal-body img {
    height: 450px;
}

.btn {
    background-color: var(--color4);
    color: var(--color5)
}

#carousel-destaques {
    margin-top: 50px;
}