:root {
    --color1: #000000;
    --color2: #1c1c1c;
    --color3: #393939;
    --color4: #555555;
    --color5: #717171;
    --color6: #ffffff;
    --font_size1: 25px;
    --font1: 'Recursive';
    --font2: 'Lato';
    --font3: 'Roboto';
}


.card {
    margin: 0;
    border-color: var(--color2);
}
.card-body {
    background-color: var(--color2);
    border-color: var(--color2);
    border: var(--color2) ; 
    border: 5px 0;
    
}
.card-body h5, .card-body h6 {
    background-color: var(--color2);
    border-color: var(--color2);
    color: var(--color6);
    
}
.card-img-top {
    height: 350px;
    object-position: bottom;
    object-fit: cover;
}

.card {
    background-color: var(--color2);
}
.navbar a {
    color: white !important;
}

